<div class="container-fluid well span6">
	<div class="row-fluid">
        
        <div class="span8">
            {{#if ESPS}}

            <table class="table table-bordered table-striped esp-table">
                <thead>
                <tr>
                <th class="resource-name">Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Moment tempreture</th>
                <th>Humidity</th>
                <th>Battery</th>
                </tr>
                </thead>
                <tbody>
                {{#ESPS}}
                <tr>
                <td>{{id}}</td>
                <td>{{name}}
                    <div class="esp_control">
                    <button type="button" class="btn btn-info" data-unicid="{{unic_id}}" data-espname="{{name}}" data-toggle="modal" data-target="#infoModal">Info</button>
                    </div>   
                </td>
                <td><a href="#/profiles/{{username}}">{{username}}</a></td>
                <td>{{temperature}}</td>
                <td>{{humidity}}</td>
                <td>{{battery}}%</td>
                </tr>
                {{/ESPS}}
                </tbody>
            </table>



              <div class="modal fade" id="infoModal" role="dialog">
                <div class="modal-dialog modal-lg">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">

<div class="container">
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date form_datetime' id='datetimepickerFrom'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date form_datetime' id='datetimepickerTo'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <!-- <input type="time" name=""> -->
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-show-data col-sm-1">Show</button>

    </div>
    <div class="row">
        <div class='visualisation temp_graphic'>
            <!-- <svg width="500" height="300" class="visualisationContainer"></svg> -->
        </div>
        <div class='visualisation humidity_graphic'>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <div class='input-group date form_datetime' id='datetimepickerFromSecondESP'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-2 h5 hours-num">time</div> -->
        <select class="col-sm-3 selectpicker" id="select-esp-to-comp">
            <option selected disabled>chose ESP to compare</option>
        </select>  
        <button type="button" class="btn btn-show-second-data col-sm-1">Show</button> 
    </div>
    <div class="row">
        <div class='visualisation hidden temp_graphic_second'>
            <!-- <svg width="500" height="300" class="visualisationContainer"></svg> -->
        </div>
        <div class='visualisation hidden humidity_graphic_second'>
        </div>
        <div class='visualisation hidden comp_temp_graphic'>
        </div>
        <div class='visualisation hidden comp_humidity_graphic'>
        </div>
    </div>

</div>

            {{else}}
            <h5>No ESPS</h5>
            {{/if}}
</div>
