<div class="form">
    <label>
        Username
        <input id="tb-username" class="form-control" type="text" placeholder="Enter Username">
    </label>
    <br />
    <label>
        Email
        <input  id="tb-email" class="form-control" type="email" placeholder="Enter email">
    </label>
    <br />
    <label>
        Password
        <input  id="tb-password" class="form-control" type="password" placeholder="Enter password">
    </label>
    <br />
    <label>
        Password Again
        <input  id="tb-password2" class="form-control" type="password" placeholder="Again password">
    </label>
    <br />
    <button id="btn-register" class="btn btn-success">Register</button>
</div>


